In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt

%matplotlib inline

In [5]:
data = pd.read_excel('data.xlsx', sheet_name=1)

In [7]:
data.head().T

,0,1,2,3,4
Дата,2015-06-01 00:00:00,2015-06-02 00:00:00,2015-06-03 00:00:00,2015-06-04 00:00:00,2015-06-05 00:00:00
Продажи на рынке (кол-во),2098,2050,1877,1709,1742
Наши продажи (кол-во),660,694,729,733,737
Unnamed: 3,NaN,NaN,NaN,NaN,NaN
Unnamed: 4,NaN,NaN,NaN,NaN,NaN
Unnamed: 5,NaN,NaN,NaN,NaN,NaN
Unnamed: 6,NaN,NaN,NaN,NaN,NaN
Unnamed: 7,NaN,NaN,NaN,NaN,NaN
Unnamed: 8,NaN,NaN,NaN,NaN,NaN
Unnamed: 9,NaN,NaN,NaN,NaN,NaN
Unnamed: 10,NaN,NaN,NaN,NaN,NaN
Unnamed: 11,NaN,NaN,NaN,NaN,NaN
Unnamed: 12,Цель: посчитать продажи на рынке и наши продаж...,NaN,NaN,NaN,NaN
Unnamed: 13,NaN,NaN,NaN,NaN,NaN
Unnamed: 14,NaN,NaN,NaN,NaN,NaN
Unnamed: 15,NaN,NaN,NaN,NaN,NaN
Unnamed: 16,NaN,NaN,NaN,NaN,NaN
Unnamed: 17,NaN,NaN,NaN,NaN,NaN
Unnamed: 18,NaN,NaN,NaN,NaN,NaN

In [8]:
data = data[data.columns[:3]]

In [9]:
data.head()

        Дата  Продажи на рынке (кол-во)  Наши продажи (кол-во)
0 2015-06-01                       2098                    660
1 2015-06-02                       2050                    694
2 2015-06-03                       1877                    729
3 2015-06-04                       1709                    733
4 2015-06-05                       1742                    737