In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set()

In [3]:
df = pd.read_excel('ts.xlsx', sheet_name='timeseries')
df.head()

,DATE,IN_FOR,OUT_FOR,NET_FOR,IN_KZT,OUT_KZT,NET_KZT,NET_TOTAL,USD,EUR,...,DELTA_NET_FOR,DELTA_IN_KZT,DELTA_OUT_KZT,DELTA_NET_KZT,DELTA_NET_TOTAL,CALENDAR,INTEREST_RATE_FOR,INTEREST_RATE_KZT,CHANGE_USD,CHANGE_EUR
0,2016-01-01,0,122953,-122953,1899647,1584705,314942,191989,340.01,371.46,...,0.000000,0.000000,0.000000,0.000000,0.000000,HOLIDAY,0.024,0.122,norm,norm
1,2016-01-02,2942,115059,-112117,2706416,2315761,390655,278538,340.01,371.46,...,0.088131,0.424694,0.461320,0.240403,0.450802,HOLIDAY,0.024,0.122,norm,norm
2,2016-01-03,263,147905,-147642,3548855,2971268,577587,429945,340.01,371.46,...,-0.316856,0.311275,0.283063,0.478509,0.543578,NORMAL,0.024,0.122,norm,norm
3,2016-01-04,13533594,9363025,4170569,23528654,11716898,11811756,15982325,340.01,371.46,...,29.247850,5.629928,2.943400,19.450176,36.172952,NORMAL,0.024,0.122,norm,norm
4,2016-01-05,36769881,32769452,4000429,37289979,22565273,14724706,18725135,340.01,371.46,...,0.040795,0.584875,0.925874,0.246614,0.171615,NORMAL,0.024,0.122,norm,norm

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 24 columns):
DATE                 731 non-null datetime64[ns]
IN_FOR               731 non-null int64
OUT_FOR              731 non-null int64
NET_FOR              731 non-null int64
IN_KZT               731 non-null int64
OUT_KZT              731 non-null int64
NET_KZT              731 non-null int64
NET_TOTAL            731 non-null int64
USD                  731 non-null float64
EUR                  731 non-null float64
DELTA_NET_USD        731 non-null float64
DELTA_NET_EUR        731 non-null float64
DELTA_IN_FOR         731 non-null float64
DELTA_OUT_FOR        731 non-null float64
DELTA_NET_FOR        731 non-null float64
DELTA_IN_KZT         731 non-null float64
DELTA_OUT_KZT        731 non-null float64
DELTA_NET_KZT        731 non-null float64
DELTA_NET_TOTAL      731 non-null float64
CALENDAR             731 non-null object
INTEREST_RATE_FOR    731 non-null float64
INTEREST_RATE_KZT    731 non-null float64
CHANGE_USD           731 non-null object
CHANGE_EUR           731 non-null object
dtypes: datetime64[ns](1), float64(13), int64(7), object(3)
memory usage: 137.1+ KB

In [ ]:
def change_currency_usd(df):
    change = False
    cnt = 0
    
    for i, val in enumerate(df['CHANGE_USD']):
        if val == 'neg' or val == 'pos':
            unknown = val
            change = True
            cnt = 0
            #print(i, val)
        if val == 'norm' and change == True and df['CALENDAR'].iloc[i] == 'NORMAL' and cnt !=2:
            cnt+=1
            df['CHANGE_USD'].iloc[i] = unknown
        if cnt == 2:
            change = False
            
    return df['CHANGE_USD']    

def change_currency_eur(df):
    change = False
    cnt = 0
    
    for i, val in enumerate(df['CHANGE_EUR']):
        if val == 'neg' or val == 'pos':
            unknown = val
            change = True
            cnt = 0
            #print(i, val)
        if val == 'norm' and change == True and df['CALENDAR'].iloc[i] == 'NORMAL' and cnt !=2:
            cnt+=1
            df['CHANGE_EUR'].iloc[i] = unknown
        if cnt == 2:
            change = False
            
    return df['CHANGE_EUR']

def general_currency_change(df):
    for i in range(len(df)):
        if df['CHANGE_USD'].iloc[i] == 'neg' or df['CHANGE_EUR'].iloc[i] == 'neg':
            df['USD_EUR_CHANGE'].iloc[i] = 'neg'
        elif df['CHANGE_USD'].iloc[i] == 'pos' or df['CHANGE_EUR'].iloc[i] == 'pos':
             df['USD_EUR_CHANGE'].iloc[i] = 'pos'        
            
    return df['USD_EUR_CHANGE']