In [26]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
from scipy import optimize 

from sklearn.model_selection import TimeSeriesSplit
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import Ridge, LinearRegression

from pandas_profiling import ProfileReport
%matplotlib inline

### Load data frame

In [314]:
air_df = pd.read_excel("Air Quality Data Set/AirQualityUCI.xlsx")
air_df.head(5).T

,0,1,2,3,4
Datetime,2004-03-10 18:00:00,2004-03-10 19:00:00,2004-03-10 20:00:00,2004-03-10 21:00:00,2004-03-10 22:00:00
CO(GT),2.6,2,2.2,2.2,1.6
PT08.S1(CO),1360,1292.25,1402,1375.5,1272.25
NMHC(GT),150,112,88,80,51
C6H6(GT),11.8817,9.39716,8.99782,9.2288,6.51822
NOx(GT),166,103,131,172,131
PT08.S3(NOx),1056.25,1173.75,1140,1092,1205
NO2(GT),113,92,114,122,116
PT08.S4(NO2),1692,1558.75,1554.5,1583.75,1490
PT08.S5(O3),1267.5,972.25,1074,1203.25,1110
T,13.6,13.3,11.9,11,11.15
RH,48.875,47.7,53.975,60,59.575
AH,0.757754,0.725487,0.750239,0.786713,0.788794

In [4]:
air_df.shape

(9357, 15)

In [5]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 15 columns):
Date             9357 non-null datetime64[ns]
Time             9357 non-null object
CO(GT)           9357 non-null float64
PT08.S1(CO)      9357 non-null float64
NMHC(GT)         9357 non-null int64
C6H6(GT)         9357 non-null float64
PT08.S2(NMHC)    9357 non-null float64
NOx(GT)          9357 non-null float64
PT08.S3(NOx)     9357 non-null float64
NO2(GT)          9357 non-null float64
PT08.S4(NO2)     9357 non-null float64
PT08.S5(O3)      9357 non-null float64
T                9357 non-null float64
RH               9357 non-null float64
AH               9357 non-null float64
dtypes: datetime64[ns](1), float64(12), int64(1), object(1)
memory usage: 1.1+ MB

### Drop NaN parametrs

In [6]:
air_df.drop("PT08.S2(NMHC)", axis = 1, inplace = True)
air_df.head().T

,0,1,2,3,4
Date,2004-03-10 00:00:00,2004-03-10 00:00:00,2004-03-10 00:00:00,2004-03-10 00:00:00,2004-03-10 00:00:00
Time,18:00:00,19:00:00,20:00:00,21:00:00,22:00:00
CO(GT),2.6,2,2.2,2.2,1.6
PT08.S1(CO),1360,1292.25,1402,1375.5,1272.25
NMHC(GT),150,112,88,80,51
C6H6(GT),11.8817,9.39716,8.99782,9.2288,6.51822
NOx(GT),166,103,131,172,131
PT08.S3(NOx),1056.25,1173.75,1140,1092,1205
NO2(GT),113,92,114,122,116
PT08.S4(NO2),1692,1558.75,1554.5,1583.75,1490
PT08.S5(O3),1267.5,972.25,1074,1203.25,1110
T,13.6,13.3,11.9,11,11.15
RH,48.875,47.7,53.975,60,59.575
AH,0.757754,0.725487,0.750239,0.786713,0.788794

In [7]:
air_df.Time = air_df.Time.apply(lambda x: str(x))
air_df.Date = air_df.Date.apply(lambda x: str(x)[:10] + " ")
air_df.Date = pd.to_datetime(air_df.Date + air_df.Time)
air_df.drop("Time", axis = 1, inplace = True)
air_df.head().T

,0,1,2,3,4
Date,2004-03-10 18:00:00,2004-03-10 19:00:00,2004-03-10 20:00:00,2004-03-10 21:00:00,2004-03-10 22:00:00
CO(GT),2.6,2,2.2,2.2,1.6
PT08.S1(CO),1360,1292.25,1402,1375.5,1272.25
NMHC(GT),150,112,88,80,51
C6H6(GT),11.8817,9.39716,8.99782,9.2288,6.51822
NOx(GT),166,103,131,172,131
PT08.S3(NOx),1056.25,1173.75,1140,1092,1205
NO2(GT),113,92,114,122,116
PT08.S4(NO2),1692,1558.75,1554.5,1583.75,1490
PT08.S5(O3),1267.5,972.25,1074,1203.25,1110
T,13.6,13.3,11.9,11,11.15
RH,48.875,47.7,53.975,60,59.575
AH,0.757754,0.725487,0.750239,0.786713,0.788794

In [11]:
air_df[air_df != -200].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 13 columns):
Date            9357 non-null datetime64[ns]
CO(GT)          7674 non-null float64
PT08.S1(CO)     8991 non-null float64
NMHC(GT)        914 non-null float64
C6H6(GT)        8991 non-null float64
NOx(GT)         7718 non-null float64
PT08.S3(NOx)    8991 non-null float64
NO2(GT)         7715 non-null float64
PT08.S4(NO2)    8991 non-null float64
PT08.S5(O3)     8991 non-null float64
T               8991 non-null float64
RH              8991 non-null float64
AH              8991 non-null float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 950.4 KB

In [12]:
air_df.drop("NMHC(GT)", axis = 1, inplace = True)
air_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 12 columns):
Date            9357 non-null datetime64[ns]
CO(GT)          9357 non-null float64
PT08.S1(CO)     9357 non-null float64
C6H6(GT)        9357 non-null float64
NOx(GT)         9357 non-null float64
PT08.S3(NOx)    9357 non-null float64
NO2(GT)         9357 non-null float64
PT08.S4(NO2)    9357 non-null float64
PT08.S5(O3)     9357 non-null float64
T               9357 non-null float64
RH              9357 non-null float64
AH              9357 non-null float64
dtypes: datetime64[ns](1), float64(11)
memory usage: 877.3 KB

In [35]:
air_df = air_df[air_df["C6H6(GT)"] != -200]

In [36]:
air_df[air_df == -200].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8991 entries, 0 to 9356
Data columns (total 12 columns):
Date            0 non-null datetime64[ns]
CO(GT)          1647 non-null float64
PT08.S1(CO)     0 non-null float64
C6H6(GT)        0 non-null float64
NOx(GT)         1595 non-null float64
PT08.S3(NOx)    0 non-null float64
NO2(GT)         1598 non-null float64
PT08.S4(NO2)    0 non-null float64
PT08.S5(O3)     0 non-null float64
T               0 non-null float64
RH              0 non-null float64
AH              0 non-null float64
dtypes: datetime64[ns](1), float64(11)
memory usage: 913.1 KB

In [46]:
data_cogt_neg = ["NOx(GT)", "NO2(GT)", "C6H6(GT)"]
data_noxgt_neg = ["CO(GT)", "NO2(GT)", "C6H6(GT)"]
data_no2gt_neg = ["NOx(GT)", "CO(GT)", "C6H6(GT)"]

In [47]:
cogt_df = air_df.drop(data_cogt_neg, axis = 1)
noxgt_df = air_df.drop(data_noxgt_neg, axis = 1)
no2gt_df = air_df.drop(data_no2gt_neg, axis = 1)

In [48]:
cogt_df.info(), noxgt_df.info(), no2gt_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8991 entries, 0 to 9356
Data columns (total 9 columns):
Date            8991 non-null datetime64[ns]
CO(GT)          8991 non-null float64
PT08.S1(CO)     8991 non-null float64
PT08.S3(NOx)    8991 non-null float64
PT08.S4(NO2)    8991 non-null float64
PT08.S5(O3)     8991 non-null float64
T               8991 non-null float64
RH              8991 non-null float64
AH              8991 non-null float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 702.4 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8991 entries, 0 to 9356
Data columns (total 9 columns):
Date            8991 non-null datetime64[ns]
PT08.S1(CO)     8991 non-null float64
NOx(GT)         8991 non-null float64
PT08.S3(NOx)    8991 non-null float64
PT08.S4(NO2)    8991 non-null float64
PT08.S5(O3)     8991 non-null float64
T               8991 non-null float64
RH              8991 non-null float64
AH              8991 non-null float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 702.4 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8991 entries, 0 to 9356
Data columns (total 9 columns):
Date            8991 non-null datetime64[ns]
PT08.S1(CO)     8991 non-null float64
PT08.S3(NOx)    8991 non-null float64
NO2(GT)         8991 non-null float64
PT08.S4(NO2)    8991 non-null float64
PT08.S5(O3)     8991 non-null float64
T               8991 non-null float64
RH              8991 non-null float64
AH              8991 non-null float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 702.4 KB

(None, None, None)

# Prepare for series which has a negative values(outliers)

#### First series CO(GT)

In [49]:
cogt_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8991 entries, 0 to 9356
Data columns (total 9 columns):
Date            8991 non-null datetime64[ns]
CO(GT)          8991 non-null float64
PT08.S1(CO)     8991 non-null float64
PT08.S3(NOx)    8991 non-null float64
PT08.S4(NO2)    8991 non-null float64
PT08.S5(O3)     8991 non-null float64
T               8991 non-null float64
RH              8991 non-null float64
AH              8991 non-null float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 702.4 KB

In [54]:
cogt_df.reset_index(inplace=True)

#### pre-process CO(GT) series

In [55]:
x_test = cogt_df[cogt_df["CO(GT)"] == -200]
pos = list(x_test.index.values)
cogt_df.drop(cogt_df.index[pos], axis = 0, inplace = True)

x_train = cogt_df.drop("Date", axis = 1)
x_test = x_test.drop(["Date", "CO(GT)"], axis = 1)

y_train = x_train.pop("CO(GT)")

x_train = (x_train - x_train.mean()) / x_train.std()
x_test = (x_test - x_test.mean()) / x_test.std()

#### Build predict model for NaN values

In [270]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import Ridge, LinearRegression

model = Ridge(alpha = 0.00000001, random_state = 10, normalize = True, solver = 'lsqr')
# model = RandomForestRegressor(n_jobs = -1, n_estimators = 150, max_depth = 5, max_features = 'sqrt')
# model = GradientBoostingRegressor(n_estimators = 300, max_depth = 7, random_state = 15)
model.fit(x_train, y_train)

pred = model.predict(x_test)

In [273]:
len(pred), pred[:4], type(pred)

(1647, array([0.75881164, 0.32358214, 5.47291111, 1.87684306]), numpy.ndarray)

#### Change NaN's to predicted values

In [ ]:
ind = 0
for i in pos:
    air_df.loc[i, "CO(GT)"] = pred[ind]
    ind += 1

air_df.head(60)

#### Pre-processing NOx(GT) series

In [279]:
x_test = noxgt_df[noxgt_df["NOx(GT)"] == -200]
pos = list(x_test.index.values)
noxgt_df.drop(noxgt_df.index[pos], axis = 0, inplace = True)

x_train = noxgt_df.drop("Date", axis = 1)
x_test = x_test.drop(["Date", "NOx(GT)"], axis = 1)

y_train = x_train.pop("NOx(GT)")

x_train = (x_train - x_train.mean()) / x_train.std()
x_test = (x_test - x_test.mean()) / x_test.std()

#### Build predict model NOx(GT) series

In [289]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import Ridge, LinearRegression

# model = Ridge(alpha = 0.00000001, random_state = 10, normalize = True, solver = 'lsqr')
model = RandomForestRegressor(n_jobs = -1, n_estimators = 50, max_depth = 10, max_features = 'sqrt')
# model = GradientBoostingRegressor(n_estimators = 300, max_depth = 7, random_state = 15)
model.fit(x_train, y_train)

pred = model.predict(x_test)

In [290]:
pred[:4]

array([ 57.31454304,  50.66126424, 317.07711181, 165.08146484])

In [282]:
air_df.head(60)

,Date,CO(GT),PT08.S1(CO),C6H6(GT),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10 18:00:00,2.600000,1360.00,11.881723,166.0,1056.25,113.0,1692.00,1267.50,13.600000,48.875001,0.757754
1,2004-03-10 19:00:00,2.000000,1292.25,9.397165,103.0,1173.75,92.0,1558.75,972.25,13.300000,47.700000,0.725487
2,2004-03-10 20:00:00,2.200000,1402.00,8.997817,131.0,1140.00,114.0,1554.50,1074.00,11.900000,53.975000,0.750239
3,2004-03-10 21:00:00,2.200000,1375.50,9.228796,172.0,1092.00,122.0,1583.75,1203.25,11.000000,60.000000,0.786713
4,2004-03-10 22:00:00,1.600000,1272.25,6.518224,131.0,1205.00,116.0,1490.00,1110.00,11.150000,59.575001,0.788794
5,2004-03-10 23:00:00,1.200000,1197.00,4.741012,89.0,1336.50,96.0,1393.00,949.25,11.175000,59.175000,0.784772
6,2004-03-11 00:00:00,1.200000,1185.00,3.624399,62.0,1461.75,77.0,1332.75,732.50,11.325000,56.775000,0.760312
7,2004-03-11 01:00:00,1.000000,1136.25,3.326677,62.0,1453.25,76.0,1332.75,729.50,10.675000,60.000000,0.770238
8,2004-03-11 02:00:00,0.900000,1094.00,2.339416,45.0,1579.00,60.0,1276.00,619.50,10.650000,59.674999,0.764819
9,2004-03-11 03:00:00,0.600000,1009.75,1.696658,-200.0,1705.00,-200.0,1234.75,501.25,10.250000,60.200001,0.751657
10,2004-03-11 04:00:00,0.758812,1011.00,1.293620,21.0,1817.50,34.0,1196.75,445.25,10.075000,60.474999,0.746495
11,2004-03-11 05:00:00,0.700000,1066.00,1.133431,16.0,1918.00,28.0,1182.00,421.75,11.000000,56.175000,0.736560
12,2004-03-11 06:00:00,0.700000,1051.75,1.603768,34.0,1738.25,48.0,1221.25,471.50,10.450000,58.125000,0.735295
13,2004-03-11 07:00:00,1.100000,1144.00,3.243618,98.0,1489.75,82.0,1339.00,729.75,10.200000,59.599999,0.741736
14,2004-03-11 08:00:00,2.000000,1333.25,8.013773,174.0,1136.00,112.0,1517.00,1101.50,10.750000,57.425000,0.740795
15,2004-03-11 09:00:00,2.200000,1351.00,9.540643,129.0,1079.00,101.0,1582.75,1027.75,10.500000,60.599998,0.769111
16,2004-03-11 10:00:00,1.700000,1233.25,6.335782,112.0,1218.00,98.0,1445.75,859.75,10.800000,58.350000,0.755183
17,2004-03-11 11:00:00,1.500000,1178.75,4.971584,95.0,1327.50,92.0,1361.75,670.50,10.500000,57.925000,0.735161
18,2004-03-11 12:00:00,1.600000,1236.00,5.216919,104.0,1301.25,95.0,1401.25,664.00,9.525000,66.774999,0.795054
19,2004-03-11 13:00:00,1.900000,1285.50,7.269933,146.0,1162.25,112.0,1536.75,799.00,8.300000,76.425001,0.839268
20,2004-03-11 14:00:00,2.900000,1371.00,11.539007,207.0,983.25,128.0,1730.25,1036.50,8.000000,81.150000,0.873589
21,2004-03-11 15:00:00,2.200000,1310.00,8.826223,184.0,1081.75,126.0,1646.50,946.25,8.325000,79.799999,0.877784
22,2004-03-11 16:00:00,2.200000,1291.75,8.301413,193.0,1102.50,131.0,1590.75,956.75,9.700000,71.150002,0.856938
23,2004-03-11 17:00:00,2.900000,1383.00,11.151581,243.0,1008.00,135.0,1718.75,1104.00,9.775000,67.624998,0.818501
24,2004-03-11 18:00:00,4.800000,1580.75,20.799217,281.0,798.50,151.0,2083.00,1408.50,10.350000,64.174999,0.806544
25,2004-03-11 19:00:00,6.900000,1775.50,27.359807,383.0,702.25,172.0,2332.50,1704.00,9.650000,69.300001,0.831921
26,2004-03-11 20:00:00,6.100000,1640.00,24.017757,351.0,742.75,165.0,2191.25,1653.75,9.650000,67.750000,0.813314
27,2004-03-11 21:00:00,3.900000,1312.75,12.779368,240.0,957.25,136.0,1706.50,1284.75,9.125000,63.974999,0.741924
28,2004-03-11 22:00:00,1.500000,964.50,4.707072,94.0,1325.25,85.0,1332.50,821.00,8.175000,63.400000,0.690484
29,2004-03-11 23:00:00,1.000000,912.75,2.645722,47.0,1564.50,53.0,1252.25,551.75,8.250000,60.824999,0.665744
30,2004-03-12 00:00:00,1.700000,1080.25,5.854802,122.0,1253.50,97.0,1375.00,815.50,8.325000,58.525001,0.643764
31,2004-03-12 01:00:00,1.900000,1043.75,6.374298,133.0,1247.25,110.0,1378.25,831.50,7.725000,59.674999,0.630766
32,2004-03-12 02:00:00,1.400000,987.75,4.132342,82.0,1395.50,91.0,1303.50,691.50,7.125000,61.799999,0.627597
33,2004-03-12 03:00:00,0.800000,888.75,1.869445,-200.0,1680.25,-200.0,1187.00,512.00,6.975000,62.275000,0.626108
34,2004-03-12 04:00:00,0.323582,831.00,1.068293,21.0,1892.75,32.0,1133.75,384.00,6.100000,65.900002,0.624754
35,2004-03-12 05:00:00,0.600000,847.25,1.022415,30.0,1894.50,44.0,1154.75,394.00,6.275000,64.975000,0.623282
36,2004-03-12 06:00:00,0.800000,927.00,1.830431,56.0,1684.75,71.0,1222.75,486.50,6.750000,62.950000,0.623428
37,2004-03-12 07:00:00,1.400000,1090.50,4.359341,109.0,1387.00,104.0,1360.75,748.25,6.450000,65.075002,0.631628
38,2004-03-12 08:00:00,4.400000,1587.00,17.865587,307.0,896.50,141.0,1900.25,1400.25,7.325000,63.150000,0.649933
39,2004-03-12 09:00:00,5.472911,1544.50,22.074162,-200.0,767.25,-200.0,2058.00,1587.75,9.225000,56.199999,0.656065
40,2004-03-12 10:00:00,3.100000,1350.25,14.027011,187.0,912.00,122.0,1711.75,1237.00,13.225000,41.749999,0.631950
41,2004-03-12 11:00:00,2.700000,1262.75,11.645647,216.0,969.00,143.0,1598.25,1166.50,14.325000,38.450000,0.624304
42,2004-03-12 12:00:00,2.100000,1206.25,10.224662,143.0,1034.50,113.0,1537.00,959.00,15.025000,36.500000,0.619532
43,2004-03-12 13:00:00,2.500000,1251.50,11.039936,160.0,1007.50,116.0,1592.75,983.00,16.100000,34.474999,0.626165
44,2004-03-12 14:00:00,2.700000,1287.00,12.816446,163.0,948.75,123.0,1660.25,1060.75,16.275001,35.725000,0.656031
45,2004-03-12 15:00:00,2.900000,1352.75,14.173851,190.0,921.75,126.0,1740.00,1139.25,15.825000,37.025000,0.660961
46,2004-03-12 16:00:00,2.800000,1309.00,12.690568,178.0,954.00,120.0,1657.25,1112.25,15.875000,37.175000,0.665729
47,2004-03-12 17:00:00,2.400000,1274.00,11.738405,150.0,1005.75,119.0,1609.75,993.75,16.875000,34.349999,0.654909
48,2004-03-12 18:00:00,3.900000,1509.50,19.290975,206.0,812.25,149.0,1909.75,1409.50,15.150000,39.550000,0.676627
49,2004-03-12 19:00:00,3.700000,1525.25,18.226178,202.0,821.00,145.0,1846.75,1447.75,14.400000,43.425000,0.708450
50,2004-03-12 20:00:00,6.600000,1843.00,32.556278,340.0,624.00,170.0,2390.25,1886.50,12.875000,50.525001,0.747803
51,2004-03-12 21:00:00,4.400000,1597.75,20.092944,274.0,752.00,149.0,1940.50,1626.75,12.150000,53.349999,0.753620
52,2004-03-12 22:00:00,3.500000,1483.50,14.321342,253.0,839.00,139.0,1723.00,1491.00,10.975000,59.125001,0.773980
53,2004-03-12 23:00:00,5.400000,1677.25,21.812865,300.0,740.50,134.0,2062.00,1657.00,9.675000,64.624999,0.777074
54,2004-03-13 00:00:00,2.700000,1279.50,9.639000,193.0,962.50,113.0,1543.50,1285.25,9.450000,64.125000,0.759747
55,2004-03-13 01:00:00,1.900000,1196.25,7.375139,139.0,1071.25,97.0,1463.25,1144.25,9.150000,63.900002,0.742276
56,2004-03-13 02:00:00,1.600000,1183.75,5.369604,83.0,1176.25,82.0,1364.50,1042.75,8.800000,63.924998,0.725615
57,2004-03-13 03:00:00,1.700000,1171.75,5.390104,-200.0,1178.50,-200.0,1379.75,995.50,7.800000,67.525000,0.717312
58,2004-03-13 04:00:00,1.876843,1147.00,6.199042,109.0,1132.25,83.0,1411.75,991.50,7.000000,71.075001,0.715778
59,2004-03-13 05:00:00,1.000000,978.25,2.577932,62.0,1420.25,65.0,1274.25,819.25,8.300000,63.575000,0.698155

#### Change NaN's to predicted values

In [291]:
ind = 0
for i in pos:
    air_df.loc[i, "NOx(GT)"] = pred[ind]
    ind += 1

air_df.head(60)

,Date,CO(GT),PT08.S1(CO),C6H6(GT),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10 18:00:00,2.600000,1360.00,11.881723,166.000000,1056.25,113.0,1692.00,1267.50,13.600000,48.875001,0.757754
1,2004-03-10 19:00:00,2.000000,1292.25,9.397165,103.000000,1173.75,92.0,1558.75,972.25,13.300000,47.700000,0.725487
2,2004-03-10 20:00:00,2.200000,1402.00,8.997817,131.000000,1140.00,114.0,1554.50,1074.00,11.900000,53.975000,0.750239
3,2004-03-10 21:00:00,2.200000,1375.50,9.228796,172.000000,1092.00,122.0,1583.75,1203.25,11.000000,60.000000,0.786713
4,2004-03-10 22:00:00,1.600000,1272.25,6.518224,131.000000,1205.00,116.0,1490.00,1110.00,11.150000,59.575001,0.788794
5,2004-03-10 23:00:00,1.200000,1197.00,4.741012,89.000000,1336.50,96.0,1393.00,949.25,11.175000,59.175000,0.784772
6,2004-03-11 00:00:00,1.200000,1185.00,3.624399,62.000000,1461.75,77.0,1332.75,732.50,11.325000,56.775000,0.760312
7,2004-03-11 01:00:00,1.000000,1136.25,3.326677,62.000000,1453.25,76.0,1332.75,729.50,10.675000,60.000000,0.770238
8,2004-03-11 02:00:00,0.900000,1094.00,2.339416,45.000000,1579.00,60.0,1276.00,619.50,10.650000,59.674999,0.764819
9,2004-03-11 03:00:00,0.600000,1009.75,1.696658,57.314543,1705.00,-200.0,1234.75,501.25,10.250000,60.200001,0.751657
10,2004-03-11 04:00:00,0.758812,1011.00,1.293620,21.000000,1817.50,34.0,1196.75,445.25,10.075000,60.474999,0.746495
11,2004-03-11 05:00:00,0.700000,1066.00,1.133431,16.000000,1918.00,28.0,1182.00,421.75,11.000000,56.175000,0.736560
12,2004-03-11 06:00:00,0.700000,1051.75,1.603768,34.000000,1738.25,48.0,1221.25,471.50,10.450000,58.125000,0.735295
13,2004-03-11 07:00:00,1.100000,1144.00,3.243618,98.000000,1489.75,82.0,1339.00,729.75,10.200000,59.599999,0.741736
14,2004-03-11 08:00:00,2.000000,1333.25,8.013773,174.000000,1136.00,112.0,1517.00,1101.50,10.750000,57.425000,0.740795
15,2004-03-11 09:00:00,2.200000,1351.00,9.540643,129.000000,1079.00,101.0,1582.75,1027.75,10.500000,60.599998,0.769111
16,2004-03-11 10:00:00,1.700000,1233.25,6.335782,112.000000,1218.00,98.0,1445.75,859.75,10.800000,58.350000,0.755183
17,2004-03-11 11:00:00,1.500000,1178.75,4.971584,95.000000,1327.50,92.0,1361.75,670.50,10.500000,57.925000,0.735161
18,2004-03-11 12:00:00,1.600000,1236.00,5.216919,104.000000,1301.25,95.0,1401.25,664.00,9.525000,66.774999,0.795054
19,2004-03-11 13:00:00,1.900000,1285.50,7.269933,146.000000,1162.25,112.0,1536.75,799.00,8.300000,76.425001,0.839268
20,2004-03-11 14:00:00,2.900000,1371.00,11.539007,207.000000,983.25,128.0,1730.25,1036.50,8.000000,81.150000,0.873589
21,2004-03-11 15:00:00,2.200000,1310.00,8.826223,184.000000,1081.75,126.0,1646.50,946.25,8.325000,79.799999,0.877784
22,2004-03-11 16:00:00,2.200000,1291.75,8.301413,193.000000,1102.50,131.0,1590.75,956.75,9.700000,71.150002,0.856938
23,2004-03-11 17:00:00,2.900000,1383.00,11.151581,243.000000,1008.00,135.0,1718.75,1104.00,9.775000,67.624998,0.818501
24,2004-03-11 18:00:00,4.800000,1580.75,20.799217,281.000000,798.50,151.0,2083.00,1408.50,10.350000,64.174999,0.806544
25,2004-03-11 19:00:00,6.900000,1775.50,27.359807,383.000000,702.25,172.0,2332.50,1704.00,9.650000,69.300001,0.831921
26,2004-03-11 20:00:00,6.100000,1640.00,24.017757,351.000000,742.75,165.0,2191.25,1653.75,9.650000,67.750000,0.813314
27,2004-03-11 21:00:00,3.900000,1312.75,12.779368,240.000000,957.25,136.0,1706.50,1284.75,9.125000,63.974999,0.741924
28,2004-03-11 22:00:00,1.500000,964.50,4.707072,94.000000,1325.25,85.0,1332.50,821.00,8.175000,63.400000,0.690484
29,2004-03-11 23:00:00,1.000000,912.75,2.645722,47.000000,1564.50,53.0,1252.25,551.75,8.250000,60.824999,0.665744
30,2004-03-12 00:00:00,1.700000,1080.25,5.854802,122.000000,1253.50,97.0,1375.00,815.50,8.325000,58.525001,0.643764
31,2004-03-12 01:00:00,1.900000,1043.75,6.374298,133.000000,1247.25,110.0,1378.25,831.50,7.725000,59.674999,0.630766
32,2004-03-12 02:00:00,1.400000,987.75,4.132342,82.000000,1395.50,91.0,1303.50,691.50,7.125000,61.799999,0.627597
33,2004-03-12 03:00:00,0.800000,888.75,1.869445,50.661264,1680.25,-200.0,1187.00,512.00,6.975000,62.275000,0.626108
34,2004-03-12 04:00:00,0.323582,831.00,1.068293,21.000000,1892.75,32.0,1133.75,384.00,6.100000,65.900002,0.624754
35,2004-03-12 05:00:00,0.600000,847.25,1.022415,30.000000,1894.50,44.0,1154.75,394.00,6.275000,64.975000,0.623282
36,2004-03-12 06:00:00,0.800000,927.00,1.830431,56.000000,1684.75,71.0,1222.75,486.50,6.750000,62.950000,0.623428
37,2004-03-12 07:00:00,1.400000,1090.50,4.359341,109.000000,1387.00,104.0,1360.75,748.25,6.450000,65.075002,0.631628
38,2004-03-12 08:00:00,4.400000,1587.00,17.865587,307.000000,896.50,141.0,1900.25,1400.25,7.325000,63.150000,0.649933
39,2004-03-12 09:00:00,5.472911,1544.50,22.074162,317.077112,767.25,-200.0,2058.00,1587.75,9.225000,56.199999,0.656065
40,2004-03-12 10:00:00,3.100000,1350.25,14.027011,187.000000,912.00,122.0,1711.75,1237.00,13.225000,41.749999,0.631950
41,2004-03-12 11:00:00,2.700000,1262.75,11.645647,216.000000,969.00,143.0,1598.25,1166.50,14.325000,38.450000,0.624304
42,2004-03-12 12:00:00,2.100000,1206.25,10.224662,143.000000,1034.50,113.0,1537.00,959.00,15.025000,36.500000,0.619532
43,2004-03-12 13:00:00,2.500000,1251.50,11.039936,160.000000,1007.50,116.0,1592.75,983.00,16.100000,34.474999,0.626165
44,2004-03-12 14:00:00,2.700000,1287.00,12.816446,163.000000,948.75,123.0,1660.25,1060.75,16.275001,35.725000,0.656031
45,2004-03-12 15:00:00,2.900000,1352.75,14.173851,190.000000,921.75,126.0,1740.00,1139.25,15.825000,37.025000,0.660961
46,2004-03-12 16:00:00,2.800000,1309.00,12.690568,178.000000,954.00,120.0,1657.25,1112.25,15.875000,37.175000,0.665729
47,2004-03-12 17:00:00,2.400000,1274.00,11.738405,150.000000,1005.75,119.0,1609.75,993.75,16.875000,34.349999,0.654909
48,2004-03-12 18:00:00,3.900000,1509.50,19.290975,206.000000,812.25,149.0,1909.75,1409.50,15.150000,39.550000,0.676627
49,2004-03-12 19:00:00,3.700000,1525.25,18.226178,202.000000,821.00,145.0,1846.75,1447.75,14.400000,43.425000,0.708450
50,2004-03-12 20:00:00,6.600000,1843.00,32.556278,340.000000,624.00,170.0,2390.25,1886.50,12.875000,50.525001,0.747803
51,2004-03-12 21:00:00,4.400000,1597.75,20.092944,274.000000,752.00,149.0,1940.50,1626.75,12.150000,53.349999,0.753620
52,2004-03-12 22:00:00,3.500000,1483.50,14.321342,253.000000,839.00,139.0,1723.00,1491.00,10.975000,59.125001,0.773980
53,2004-03-12 23:00:00,5.400000,1677.25,21.812865,300.000000,740.50,134.0,2062.00,1657.00,9.675000,64.624999,0.777074
54,2004-03-13 00:00:00,2.700000,1279.50,9.639000,193.000000,962.50,113.0,1543.50,1285.25,9.450000,64.125000,0.759747
55,2004-03-13 01:00:00,1.900000,1196.25,7.375139,139.000000,1071.25,97.0,1463.25,1144.25,9.150000,63.900002,0.742276
56,2004-03-13 02:00:00,1.600000,1183.75,5.369604,83.000000,1176.25,82.0,1364.50,1042.75,8.800000,63.924998,0.725615
57,2004-03-13 03:00:00,1.700000,1171.75,5.390104,165.081465,1178.50,-200.0,1379.75,995.50,7.800000,67.525000,0.717312
58,2004-03-13 04:00:00,1.876843,1147.00,6.199042,109.000000,1132.25,83.0,1411.75,991.50,7.000000,71.075001,0.715778
59,2004-03-13 05:00:00,1.000000,978.25,2.577932,62.000000,1420.25,65.0,1274.25,819.25,8.300000,63.575000,0.698155

#### Pre-processing NO2(GT) series

In [292]:
no2gt_df.reset_index(inplace=True)

In [293]:
x_test = no2gt_df[no2gt_df["NO2(GT)"] == -200]
pos = list(x_test.index.values)
no2gt_df.drop(no2gt_df.index[pos], axis = 0, inplace = True)

x_train = no2gt_df.drop("Date", axis = 1)
x_test = x_test.drop(["Date", "NO2(GT)"], axis = 1)

y_train = x_train.pop("NO2(GT)")

x_train = (x_train - x_train.mean()) / x_train.std()
x_test = (x_test - x_test.mean()) / x_test.std()

#### Build predict model NO2(GT) series

In [301]:
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import Ridge, LinearRegression

model = Ridge(alpha = 0.000000001, random_state = 10, normalize = True, solver = 'lsqr')
# model = RandomForestRegressor(n_jobs = -1, n_estimators = 50, max_depth = 10, max_features = 'sqrt')
# model = GradientBoostingRegressor(n_estimators = 300, max_depth = 10, random_state = 10)
model.fit(x_train, y_train)

pred = model.predict(x_test)

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor

model = GradientBoostingRegressor(n_estimators = 300, max_depth = 10, random_state = 10)

model.fit(x_train, y_train)

pred = model.predict(x_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_jobs = -1, n_estimators = 50, max_depth = 10, max_features = 'sqrt')

model.fit(x_train, y_train)

pred = model.predict(x_test)

In [295]:
pred[:4] # Ridge

array([ 43.47957959,  45.2816857 , 179.9103468 , 100.25394214])

In [297]:
pred[:4] # RF

array([ 73.0747825 ,  74.04123427, 154.75535046, 105.2414596 ])

In [299]:
pred[:4] # GB

array([ 74.30900731,  77.9914662 , 154.98513216, 100.49850113])

In [300]:
air_df.head(60)

,Date,CO(GT),PT08.S1(CO),C6H6(GT),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10 18:00:00,2.600000,1360.00,11.881723,166.000000,1056.25,113.0,1692.00,1267.50,13.600000,48.875001,0.757754
1,2004-03-10 19:00:00,2.000000,1292.25,9.397165,103.000000,1173.75,92.0,1558.75,972.25,13.300000,47.700000,0.725487
2,2004-03-10 20:00:00,2.200000,1402.00,8.997817,131.000000,1140.00,114.0,1554.50,1074.00,11.900000,53.975000,0.750239
3,2004-03-10 21:00:00,2.200000,1375.50,9.228796,172.000000,1092.00,122.0,1583.75,1203.25,11.000000,60.000000,0.786713
4,2004-03-10 22:00:00,1.600000,1272.25,6.518224,131.000000,1205.00,116.0,1490.00,1110.00,11.150000,59.575001,0.788794
5,2004-03-10 23:00:00,1.200000,1197.00,4.741012,89.000000,1336.50,96.0,1393.00,949.25,11.175000,59.175000,0.784772
6,2004-03-11 00:00:00,1.200000,1185.00,3.624399,62.000000,1461.75,77.0,1332.75,732.50,11.325000,56.775000,0.760312
7,2004-03-11 01:00:00,1.000000,1136.25,3.326677,62.000000,1453.25,76.0,1332.75,729.50,10.675000,60.000000,0.770238
8,2004-03-11 02:00:00,0.900000,1094.00,2.339416,45.000000,1579.00,60.0,1276.00,619.50,10.650000,59.674999,0.764819
9,2004-03-11 03:00:00,0.600000,1009.75,1.696658,57.314543,1705.00,-200.0,1234.75,501.25,10.250000,60.200001,0.751657
10,2004-03-11 04:00:00,0.758812,1011.00,1.293620,21.000000,1817.50,34.0,1196.75,445.25,10.075000,60.474999,0.746495
11,2004-03-11 05:00:00,0.700000,1066.00,1.133431,16.000000,1918.00,28.0,1182.00,421.75,11.000000,56.175000,0.736560
12,2004-03-11 06:00:00,0.700000,1051.75,1.603768,34.000000,1738.25,48.0,1221.25,471.50,10.450000,58.125000,0.735295
13,2004-03-11 07:00:00,1.100000,1144.00,3.243618,98.000000,1489.75,82.0,1339.00,729.75,10.200000,59.599999,0.741736
14,2004-03-11 08:00:00,2.000000,1333.25,8.013773,174.000000,1136.00,112.0,1517.00,1101.50,10.750000,57.425000,0.740795
15,2004-03-11 09:00:00,2.200000,1351.00,9.540643,129.000000,1079.00,101.0,1582.75,1027.75,10.500000,60.599998,0.769111
16,2004-03-11 10:00:00,1.700000,1233.25,6.335782,112.000000,1218.00,98.0,1445.75,859.75,10.800000,58.350000,0.755183
17,2004-03-11 11:00:00,1.500000,1178.75,4.971584,95.000000,1327.50,92.0,1361.75,670.50,10.500000,57.925000,0.735161
18,2004-03-11 12:00:00,1.600000,1236.00,5.216919,104.000000,1301.25,95.0,1401.25,664.00,9.525000,66.774999,0.795054
19,2004-03-11 13:00:00,1.900000,1285.50,7.269933,146.000000,1162.25,112.0,1536.75,799.00,8.300000,76.425001,0.839268
20,2004-03-11 14:00:00,2.900000,1371.00,11.539007,207.000000,983.25,128.0,1730.25,1036.50,8.000000,81.150000,0.873589
21,2004-03-11 15:00:00,2.200000,1310.00,8.826223,184.000000,1081.75,126.0,1646.50,946.25,8.325000,79.799999,0.877784
22,2004-03-11 16:00:00,2.200000,1291.75,8.301413,193.000000,1102.50,131.0,1590.75,956.75,9.700000,71.150002,0.856938
23,2004-03-11 17:00:00,2.900000,1383.00,11.151581,243.000000,1008.00,135.0,1718.75,1104.00,9.775000,67.624998,0.818501
24,2004-03-11 18:00:00,4.800000,1580.75,20.799217,281.000000,798.50,151.0,2083.00,1408.50,10.350000,64.174999,0.806544
25,2004-03-11 19:00:00,6.900000,1775.50,27.359807,383.000000,702.25,172.0,2332.50,1704.00,9.650000,69.300001,0.831921
26,2004-03-11 20:00:00,6.100000,1640.00,24.017757,351.000000,742.75,165.0,2191.25,1653.75,9.650000,67.750000,0.813314
27,2004-03-11 21:00:00,3.900000,1312.75,12.779368,240.000000,957.25,136.0,1706.50,1284.75,9.125000,63.974999,0.741924
28,2004-03-11 22:00:00,1.500000,964.50,4.707072,94.000000,1325.25,85.0,1332.50,821.00,8.175000,63.400000,0.690484
29,2004-03-11 23:00:00,1.000000,912.75,2.645722,47.000000,1564.50,53.0,1252.25,551.75,8.250000,60.824999,0.665744
30,2004-03-12 00:00:00,1.700000,1080.25,5.854802,122.000000,1253.50,97.0,1375.00,815.50,8.325000,58.525001,0.643764
31,2004-03-12 01:00:00,1.900000,1043.75,6.374298,133.000000,1247.25,110.0,1378.25,831.50,7.725000,59.674999,0.630766
32,2004-03-12 02:00:00,1.400000,987.75,4.132342,82.000000,1395.50,91.0,1303.50,691.50,7.125000,61.799999,0.627597
33,2004-03-12 03:00:00,0.800000,888.75,1.869445,50.661264,1680.25,-200.0,1187.00,512.00,6.975000,62.275000,0.626108
34,2004-03-12 04:00:00,0.323582,831.00,1.068293,21.000000,1892.75,32.0,1133.75,384.00,6.100000,65.900002,0.624754
35,2004-03-12 05:00:00,0.600000,847.25,1.022415,30.000000,1894.50,44.0,1154.75,394.00,6.275000,64.975000,0.623282
36,2004-03-12 06:00:00,0.800000,927.00,1.830431,56.000000,1684.75,71.0,1222.75,486.50,6.750000,62.950000,0.623428
37,2004-03-12 07:00:00,1.400000,1090.50,4.359341,109.000000,1387.00,104.0,1360.75,748.25,6.450000,65.075002,0.631628
38,2004-03-12 08:00:00,4.400000,1587.00,17.865587,307.000000,896.50,141.0,1900.25,1400.25,7.325000,63.150000,0.649933
39,2004-03-12 09:00:00,5.472911,1544.50,22.074162,317.077112,767.25,-200.0,2058.00,1587.75,9.225000,56.199999,0.656065
40,2004-03-12 10:00:00,3.100000,1350.25,14.027011,187.000000,912.00,122.0,1711.75,1237.00,13.225000,41.749999,0.631950
41,2004-03-12 11:00:00,2.700000,1262.75,11.645647,216.000000,969.00,143.0,1598.25,1166.50,14.325000,38.450000,0.624304
42,2004-03-12 12:00:00,2.100000,1206.25,10.224662,143.000000,1034.50,113.0,1537.00,959.00,15.025000,36.500000,0.619532
43,2004-03-12 13:00:00,2.500000,1251.50,11.039936,160.000000,1007.50,116.0,1592.75,983.00,16.100000,34.474999,0.626165
44,2004-03-12 14:00:00,2.700000,1287.00,12.816446,163.000000,948.75,123.0,1660.25,1060.75,16.275001,35.725000,0.656031
45,2004-03-12 15:00:00,2.900000,1352.75,14.173851,190.000000,921.75,126.0,1740.00,1139.25,15.825000,37.025000,0.660961
46,2004-03-12 16:00:00,2.800000,1309.00,12.690568,178.000000,954.00,120.0,1657.25,1112.25,15.875000,37.175000,0.665729
47,2004-03-12 17:00:00,2.400000,1274.00,11.738405,150.000000,1005.75,119.0,1609.75,993.75,16.875000,34.349999,0.654909
48,2004-03-12 18:00:00,3.900000,1509.50,19.290975,206.000000,812.25,149.0,1909.75,1409.50,15.150000,39.550000,0.676627
49,2004-03-12 19:00:00,3.700000,1525.25,18.226178,202.000000,821.00,145.0,1846.75,1447.75,14.400000,43.425000,0.708450
50,2004-03-12 20:00:00,6.600000,1843.00,32.556278,340.000000,624.00,170.0,2390.25,1886.50,12.875000,50.525001,0.747803
51,2004-03-12 21:00:00,4.400000,1597.75,20.092944,274.000000,752.00,149.0,1940.50,1626.75,12.150000,53.349999,0.753620
52,2004-03-12 22:00:00,3.500000,1483.50,14.321342,253.000000,839.00,139.0,1723.00,1491.00,10.975000,59.125001,0.773980
53,2004-03-12 23:00:00,5.400000,1677.25,21.812865,300.000000,740.50,134.0,2062.00,1657.00,9.675000,64.624999,0.777074
54,2004-03-13 00:00:00,2.700000,1279.50,9.639000,193.000000,962.50,113.0,1543.50,1285.25,9.450000,64.125000,0.759747
55,2004-03-13 01:00:00,1.900000,1196.25,7.375139,139.000000,1071.25,97.0,1463.25,1144.25,9.150000,63.900002,0.742276
56,2004-03-13 02:00:00,1.600000,1183.75,5.369604,83.000000,1176.25,82.0,1364.50,1042.75,8.800000,63.924998,0.725615
57,2004-03-13 03:00:00,1.700000,1171.75,5.390104,165.081465,1178.50,-200.0,1379.75,995.50,7.800000,67.525000,0.717312
58,2004-03-13 04:00:00,1.876843,1147.00,6.199042,109.000000,1132.25,83.0,1411.75,991.50,7.000000,71.075001,0.715778
59,2004-03-13 05:00:00,1.000000,978.25,2.577932,62.000000,1420.25,65.0,1274.25,819.25,8.300000,63.575000,0.698155

#### Switching NaN's to predicted values

In [302]:
ind = 0
for i in pos:
    air_df.loc[i, "NO2(GT)"] = pred[ind]
    ind += 1

air_df.head(60)

,Date,CO(GT),PT08.S1(CO),C6H6(GT),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10 18:00:00,2.600000,1360.00,11.881723,166.000000,1056.25,113.000000,1692.00,1267.50,13.600000,48.875001,0.757754
1,2004-03-10 19:00:00,2.000000,1292.25,9.397165,103.000000,1173.75,92.000000,1558.75,972.25,13.300000,47.700000,0.725487
2,2004-03-10 20:00:00,2.200000,1402.00,8.997817,131.000000,1140.00,114.000000,1554.50,1074.00,11.900000,53.975000,0.750239
3,2004-03-10 21:00:00,2.200000,1375.50,9.228796,172.000000,1092.00,122.000000,1583.75,1203.25,11.000000,60.000000,0.786713
4,2004-03-10 22:00:00,1.600000,1272.25,6.518224,131.000000,1205.00,116.000000,1490.00,1110.00,11.150000,59.575001,0.788794
5,2004-03-10 23:00:00,1.200000,1197.00,4.741012,89.000000,1336.50,96.000000,1393.00,949.25,11.175000,59.175000,0.784772
6,2004-03-11 00:00:00,1.200000,1185.00,3.624399,62.000000,1461.75,77.000000,1332.75,732.50,11.325000,56.775000,0.760312
7,2004-03-11 01:00:00,1.000000,1136.25,3.326677,62.000000,1453.25,76.000000,1332.75,729.50,10.675000,60.000000,0.770238
8,2004-03-11 02:00:00,0.900000,1094.00,2.339416,45.000000,1579.00,60.000000,1276.00,619.50,10.650000,59.674999,0.764819
9,2004-03-11 03:00:00,0.600000,1009.75,1.696658,57.314543,1705.00,43.479578,1234.75,501.25,10.250000,60.200001,0.751657
10,2004-03-11 04:00:00,0.758812,1011.00,1.293620,21.000000,1817.50,34.000000,1196.75,445.25,10.075000,60.474999,0.746495
11,2004-03-11 05:00:00,0.700000,1066.00,1.133431,16.000000,1918.00,28.000000,1182.00,421.75,11.000000,56.175000,0.736560
12,2004-03-11 06:00:00,0.700000,1051.75,1.603768,34.000000,1738.25,48.000000,1221.25,471.50,10.450000,58.125000,0.735295
13,2004-03-11 07:00:00,1.100000,1144.00,3.243618,98.000000,1489.75,82.000000,1339.00,729.75,10.200000,59.599999,0.741736
14,2004-03-11 08:00:00,2.000000,1333.25,8.013773,174.000000,1136.00,112.000000,1517.00,1101.50,10.750000,57.425000,0.740795
15,2004-03-11 09:00:00,2.200000,1351.00,9.540643,129.000000,1079.00,101.000000,1582.75,1027.75,10.500000,60.599998,0.769111
16,2004-03-11 10:00:00,1.700000,1233.25,6.335782,112.000000,1218.00,98.000000,1445.75,859.75,10.800000,58.350000,0.755183
17,2004-03-11 11:00:00,1.500000,1178.75,4.971584,95.000000,1327.50,92.000000,1361.75,670.50,10.500000,57.925000,0.735161
18,2004-03-11 12:00:00,1.600000,1236.00,5.216919,104.000000,1301.25,95.000000,1401.25,664.00,9.525000,66.774999,0.795054
19,2004-03-11 13:00:00,1.900000,1285.50,7.269933,146.000000,1162.25,112.000000,1536.75,799.00,8.300000,76.425001,0.839268
20,2004-03-11 14:00:00,2.900000,1371.00,11.539007,207.000000,983.25,128.000000,1730.25,1036.50,8.000000,81.150000,0.873589
21,2004-03-11 15:00:00,2.200000,1310.00,8.826223,184.000000,1081.75,126.000000,1646.50,946.25,8.325000,79.799999,0.877784
22,2004-03-11 16:00:00,2.200000,1291.75,8.301413,193.000000,1102.50,131.000000,1590.75,956.75,9.700000,71.150002,0.856938
23,2004-03-11 17:00:00,2.900000,1383.00,11.151581,243.000000,1008.00,135.000000,1718.75,1104.00,9.775000,67.624998,0.818501
24,2004-03-11 18:00:00,4.800000,1580.75,20.799217,281.000000,798.50,151.000000,2083.00,1408.50,10.350000,64.174999,0.806544
25,2004-03-11 19:00:00,6.900000,1775.50,27.359807,383.000000,702.25,172.000000,2332.50,1704.00,9.650000,69.300001,0.831921
26,2004-03-11 20:00:00,6.100000,1640.00,24.017757,351.000000,742.75,165.000000,2191.25,1653.75,9.650000,67.750000,0.813314
27,2004-03-11 21:00:00,3.900000,1312.75,12.779368,240.000000,957.25,136.000000,1706.50,1284.75,9.125000,63.974999,0.741924
28,2004-03-11 22:00:00,1.500000,964.50,4.707072,94.000000,1325.25,85.000000,1332.50,821.00,8.175000,63.400000,0.690484
29,2004-03-11 23:00:00,1.000000,912.75,2.645722,47.000000,1564.50,53.000000,1252.25,551.75,8.250000,60.824999,0.665744
30,2004-03-12 00:00:00,1.700000,1080.25,5.854802,122.000000,1253.50,97.000000,1375.00,815.50,8.325000,58.525001,0.643764
31,2004-03-12 01:00:00,1.900000,1043.75,6.374298,133.000000,1247.25,110.000000,1378.25,831.50,7.725000,59.674999,0.630766
32,2004-03-12 02:00:00,1.400000,987.75,4.132342,82.000000,1395.50,91.000000,1303.50,691.50,7.125000,61.799999,0.627597
33,2004-03-12 03:00:00,0.800000,888.75,1.869445,50.661264,1680.25,45.281685,1187.00,512.00,6.975000,62.275000,0.626108
34,2004-03-12 04:00:00,0.323582,831.00,1.068293,21.000000,1892.75,32.000000,1133.75,384.00,6.100000,65.900002,0.624754
35,2004-03-12 05:00:00,0.600000,847.25,1.022415,30.000000,1894.50,44.000000,1154.75,394.00,6.275000,64.975000,0.623282
36,2004-03-12 06:00:00,0.800000,927.00,1.830431,56.000000,1684.75,71.000000,1222.75,486.50,6.750000,62.950000,0.623428
37,2004-03-12 07:00:00,1.400000,1090.50,4.359341,109.000000,1387.00,104.000000,1360.75,748.25,6.450000,65.075002,0.631628
38,2004-03-12 08:00:00,4.400000,1587.00,17.865587,307.000000,896.50,141.000000,1900.25,1400.25,7.325000,63.150000,0.649933
39,2004-03-12 09:00:00,5.472911,1544.50,22.074162,317.077112,767.25,179.910347,2058.00,1587.75,9.225000,56.199999,0.656065
40,2004-03-12 10:00:00,3.100000,1350.25,14.027011,187.000000,912.00,122.000000,1711.75,1237.00,13.225000,41.749999,0.631950
41,2004-03-12 11:00:00,2.700000,1262.75,11.645647,216.000000,969.00,143.000000,1598.25,1166.50,14.325000,38.450000,0.624304
42,2004-03-12 12:00:00,2.100000,1206.25,10.224662,143.000000,1034.50,113.000000,1537.00,959.00,15.025000,36.500000,0.619532
43,2004-03-12 13:00:00,2.500000,1251.50,11.039936,160.000000,1007.50,116.000000,1592.75,983.00,16.100000,34.474999,0.626165
44,2004-03-12 14:00:00,2.700000,1287.00,12.816446,163.000000,948.75,123.000000,1660.25,1060.75,16.275001,35.725000,0.656031
45,2004-03-12 15:00:00,2.900000,1352.75,14.173851,190.000000,921.75,126.000000,1740.00,1139.25,15.825000,37.025000,0.660961
46,2004-03-12 16:00:00,2.800000,1309.00,12.690568,178.000000,954.00,120.000000,1657.25,1112.25,15.875000,37.175000,0.665729
47,2004-03-12 17:00:00,2.400000,1274.00,11.738405,150.000000,1005.75,119.000000,1609.75,993.75,16.875000,34.349999,0.654909
48,2004-03-12 18:00:00,3.900000,1509.50,19.290975,206.000000,812.25,149.000000,1909.75,1409.50,15.150000,39.550000,0.676627
49,2004-03-12 19:00:00,3.700000,1525.25,18.226178,202.000000,821.00,145.000000,1846.75,1447.75,14.400000,43.425000,0.708450
50,2004-03-12 20:00:00,6.600000,1843.00,32.556278,340.000000,624.00,170.000000,2390.25,1886.50,12.875000,50.525001,0.747803
51,2004-03-12 21:00:00,4.400000,1597.75,20.092944,274.000000,752.00,149.000000,1940.50,1626.75,12.150000,53.349999,0.753620
52,2004-03-12 22:00:00,3.500000,1483.50,14.321342,253.000000,839.00,139.000000,1723.00,1491.00,10.975000,59.125001,0.773980
53,2004-03-12 23:00:00,5.400000,1677.25,21.812865,300.000000,740.50,134.000000,2062.00,1657.00,9.675000,64.624999,0.777074
54,2004-03-13 00:00:00,2.700000,1279.50,9.639000,193.000000,962.50,113.000000,1543.50,1285.25,9.450000,64.125000,0.759747
55,2004-03-13 01:00:00,1.900000,1196.25,7.375139,139.000000,1071.25,97.000000,1463.25,1144.25,9.150000,63.900002,0.742276
56,2004-03-13 02:00:00,1.600000,1183.75,5.369604,83.000000,1176.25,82.000000,1364.50,1042.75,8.800000,63.924998,0.725615
57,2004-03-13 03:00:00,1.700000,1171.75,5.390104,165.081465,1178.50,100.253941,1379.75,995.50,7.800000,67.525000,0.717312
58,2004-03-13 04:00:00,1.876843,1147.00,6.199042,109.000000,1132.25,83.000000,1411.75,991.50,7.000000,71.075001,0.715778
59,2004-03-13 05:00:00,1.000000,978.25,2.577932,62.000000,1420.25,65.000000,1274.25,819.25,8.300000,63.575000,0.698155

## Last step, predict target series C6H6(GT)

In [306]:
from sklearn.model_selection import train_test_split, TimeSeriesSplit
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.linear_model import Ridge, LinearRegression
from sklearn.cross_validation import train_test_split
air_df.columns

Index(['Date', 'CO(GT)', 'PT08.S1(CO)', 'C6H6(GT)', 'NOx(GT)', 'PT08.S3(NOx)',
       'NO2(GT)', 'PT08.S4(NO2)', 'PT08.S5(O3)', 'T', 'RH', 'AH'],
      dtype='object')

In [313]:
target = air_df.drop(["Date", "CO(GT)", "PT08.S1(CO)","NOx(GT)","PT08.S3(NOx)","NO2(GT)","PT08.S4(NO2)","PT08.S5(O3)","T","RH","AH"], axis = 1)
features = air_df.drop(["C6H6(GT)"], axis = 1)

feature_train, feature_test, target_train, target_test = train_test_split(features, target, test_size = 0.75, random_state=42)
# model = GradientBoostingRegressor(n_estimators = 200, loss = 'ls', max_depth = 10, learning_rate = 0.5, random_state = 10)
model = Ridge(alpha = 0.000000001, random_state = 10, normalize = True, solver = 'lsqr')
model.fit(feature_train, target_train)

TypeError: float() argument must be a string or a number, not 'Timestamp'