In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

%matplotlib inline

In [3]:
BAC = pd.read_pickle("advanced/all_banks")

In [4]:
BAC.head()

Bank Ticker    BAC                                     C                       \
Stock Info    Open   High    Low  Close    Volume   Open   High    Low  Close
Date
2006-01-03   46.92  47.18  46.15  47.08  16296700  490.0  493.8  481.1  492.9
2006-01-04   47.00  47.24  46.45  46.58  17757900  488.6  491.0  483.5  483.8
2006-01-05   46.58  46.83  46.32  46.64  14970900  484.4  487.8  484.0  486.2
2006-01-06   46.80  46.91  46.35  46.57  12599800  488.8  489.0  482.0  486.2
2006-01-09   46.72  46.97  46.36  46.60  15620000  486.0  487.4  483.0  483.9

Bank Ticker             ...        MS                                  WFC  \
Stock Info    Volume    ...      Open   High    Low  Close   Volume   Open
Date                    ...
2006-01-03   1537660    ...     57.17  58.49  56.74  58.31  5377000  31.60
2006-01-04   1871020    ...     58.70  59.28  58.35  58.35  7977800  31.80
2006-01-05   1143160    ...     58.55  58.59  58.02  58.51  5778000  31.50
2006-01-06   1370250    ...     58.77  58.85  58.05  58.57  6889800  31.58
2006-01-09   1680740    ...     58.63  59.29  58.62  59.19  4144500  31.68

Bank Ticker
Stock Info    High    Low  Close    Volume
Date
2006-01-03   31.98  31.20  31.90  11016400
2006-01-04   31.82  31.36  31.53  10871000
2006-01-05   31.56  31.31  31.50  10158000
2006-01-06   31.78  31.38  31.68   8403800
2006-01-09   31.82  31.56  31.68   5619600

[5 rows x 30 columns]